.container{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 10px 10px #e7e8ea;
}
.container h1 {
    margin-left: 10px;
    padding-bottom: 10px;
}
.buttons{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 10px;
    border: 1px solid transparent;;
}
.buttons button {
    background-color: #8bca58;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    border: none;

}
.buttons button:hover {
    background-color: #c5e4ac;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.buttons button:active {
    background-color: #548d27;
}
.buttons .login{
    background-color: #d8dadd;
    color: #70737b;
}
.buttons .login:hover{
    background-color: #e7e8ea;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.buttons .login:active{
    background-color: #b0b3bb;
}
